.footer {
    background-color: rgb(194, 224, 20);
    height: 20rem;
    align-items: center;
}
h1 {
    text-align: center;
    padding-top: 3rem;
    color: rgb(179, 26, 26);
}
h2 {
    text-align: center;
    margin-top: 3rem;
    color: rgb(179, 26, 26);
}